<div class="d-flex align-items-center justify-content-center">
  <h1><%= @submenu.title %></h1>
</div>
<div class="d-flex align-items-right justify-content-end">
  <h2>   in <%= @menu.title %></h2>
</div>