<div class="m-3">
  <%= render "title" %>
  <hr>

  <%= render "list_items" %>
  <hr>

  <div class="d-flex justify-content-around ">
    <%= render "add_an_item" %>
    <%= render "edit_submenu" %>
  </div>
</div>