<div class="m-3">
  <div class="p-3 d-flex justify-content-center rounded bg-primary text-white">
    <h1>Menus</h1>
  </div>
  <hr>
  <%= render "index_menus" %>
  <hr>
  <div class="d-flex justify-content-around ">
    <%= render "add_a_menu" %>
  </div>
</div>