<div class="m-3">
  <div class="p-3 d-flex justify-content-center text-white rounded bg-primary">
    <h1><%= @menu.title %></h1>
  </div>
  <hr>
  <%= render "show_list_submenus" %>
  <hr>
  <div class="d-flex justify-content-around ">
    <%= render "add_a_submenu" %>
    <%= render "edit_menu" %>
  </div>
</div>